
@{
    ViewBag.Title = "Help";
}

<h1 class="text-center"><font face="Arial">Руководство пользователя</font></h1>
<br />
<p>
    <font>
        В навигационном меню расположены пункты: "Главная страница", "Предметы и категории", "Группы и тестируемые", "Тестовые задания", "Сформировать тест", "Результаты" и "Статистика".
    </font>
</p>
<h4>
    <strong>
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        Главная страница
    </strong>
</h4>
<p>
    <font>
        На главной странице в  левой части экрана расположено навигационное меню, а в центре экрана - основные функции добавления системы: добавить предмет, добавить группу и добавить тест.
    </font>
</p>
<p>
    <font>
        При нажатии на «Добавить предмет», откроется страница, на которой необходимо ввести название создаваемого предмета и сохранить его.
        После сохранения открывается страница с имеющимися предметами.
        Также можно перейти к списку категорий нужного предмета или удалить ненужный предмет.
        При переходе к списку категорий можно создавать новые категории и удалять ненужные.
    </font>
</p>
<p>
    <font>
        При нажатии на «Добавить группу» открывается страница на которой можно создать новую группу.
        После сохранения на экране появляется список сохраненных групп. Также можно удалить ненужную группу или перейти к списку тестируемых.
        При удалении группы необходимо подтвердить действие или же нажать на кнопку «Отмена».
        При переходе к списку тестируемых, будет предложено ввести данные о тестируемом: фамилию, имя и отчество.
    </font>
</p>
<p>
    <font>
        При нажатии на кнопку «Добавить тест» можно создать новый тест, введя название теста, выбрав предмет, к которому будет относится тест (обязательно) и выбрав категорию (необязательно).
        Далее необходимо выбрать вариант создания теста: вручную или импортировать файл с готовым тестом с компьютера.
        При выборе ручного ввода открывается страница, на которой в поле «Вопрос» необходимо ввести вопрос, в поле «Вариант ответа №1» ввести ответ, далее по надобности нажимать на кнопку «Добавить ответ» для ввода остальных ответов.
        Для пометки правильного ответа пользователю необходимо отметить его флажком.
        Правильных ответов может быть несколько. После ввода всех ответов к вопросу пользователю необходимо нажать на кнопку «Сохранить».
        Введенные данные сохранятся в базе данных, а пользователю будет предложено ввести следующий вопрос.
        После ввода всех вопросов пользователю нужно нажать на кнопку «Завершить добавление».
        ыТестовое задание будет сформировано.
        При выборе импорта теста с компьютера откроется диалоговое окно выбора файла.
    </font>
</p>
<h4>
    <strong>
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        Предметы и категории
    </strong>
</h4>
<p>
    <font>
        При выборе из навигационного меню «Предметы и категории» открывается страница со списком предметов, которые были внесены в систему ранее.
        Нажав на кнопку «Добавить предмет», необходимо в поле ввода ввести название предмета.
        Если необходимо удалить предмет, то возле выбранного предмета нужно нажать на кнопку удаления и подтвердить действие, нажав на кнопку «Ок» или отменить его, нажав на кнопку «Отмена».
        Чтобы просмотреть список категорий у предмета, то возле нужного предмета необходимо нажать на «К списку категорий» - открывается новая страница, на которой выведен список категорий выбранного предмета.
        Если нужно добавить новую категорию, следует нажать на «Добавить».
        На этой же странице появится поле для ввода названия новой категории.
        Если нужно удалить категорию, необходимо рядом с выбранной категорией нажать на кнопку удаления и подтвердить свое действие, нажав на «Ок», или отменить действие, нажав на «Отмена».
    </font>
</p>
<h4>
    <strong>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        Группы и тестируемые
    </strong>
</h4>
<p>
    <font>
        Выбрав в навигационном меню «Группы и тестируемые» открывается страница со списком из ранее созданных групп, есть возможность добавить новую группу, нажав на кнопку «Добавить группу».
        В появившемся окне ввода необходимо ввести название группы и нажать на кнопку «Добавить».
        Если необходимо удалить группу, то рядом с выбранной нужно нажать на кнопку удаления и подтвердить действие, нажав на «Ок», или отменить, нажав на кнопку «Отмена».
        Чтобы увидеть данные тестируемых, то возле нужной группы нажать на «К списку тестируемых».
        На экране появится список тестируемых (имя, фамилия, отчество).
        Также возможно добавление нового тестируемого, следует нажать на кнопку «Добавить тестируемого», ввести данные и нажать на кнопку «Сохранить».
        Если необходимо удалить данные о тестируемом, то возле выбранного тестируемого нужно нажать на кнопку удаления и подтвердить действие, нажав на кнопку «Ок», или отменить действие, нажав на кнопку «Отмена».
    </font>
</p>
<h4>
    <strong>
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Тесты
    </strong>
</h4>
<p>
    <font>
        Выбрав в навигационном меню «Тесты», открывается страница, которая содержит список ранее добавленных тестов, кнопку добавления нового теста и удаление теста.
        При нажатии на кнопку удаления теста, необходимо будет подтвердить действие, нажав на «Ок» или отменить действие, нажав на «Отмена».
        Нажав на кнопку добавления нового теста, откроется страница, на которой необходимо будет ввести название теста и выбрать вариант ввода вопросов и ответов: выбрать файл с компьютера и импортировать его в систему или ввести вопросы и ответы вручную.
        При выборе импорта данных откроется диалоговое окно выбора документа.
        При выборе ручного ввода откроется страница, на которой нужно будет ввести вопрос, ответ, нажать на кнопку добавить ответ, ввести в появившемся поле еще один ответ и повторять эти действия, пока все ответы на вопрос не будут введены.
        Чтобы отметить правильные варианты ответов, возле нужных ответов следует поставить флажок.
        Далее необходимо нажать на кнопку «Сохранить».
        Вопрос с ответами сохранится в базе данных, а пользователю нужно будет продолжить ввод вопросов и ответов.
        По завершению ввода всех данных пользователю необходимо нажать на кнопку «Завершить добавление».
        Тестовое задание сохранится в системе, а у пользователя откроется страница «Тесты».
    </font>
</p>
<h4>
    <strong>
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        Сформировать тест
    </strong>
</h4>
<p>
    <font>
        Выбрав в навигационном меню «Сформировать тесты», откроется страница, на которой будут отображены все созданные ранее тесты.
        Для удобства выбора их можно отсортировать по предметам и категориям.
        Нужные тесты необходимо отметить флажками, ниже указать количество вопросов, которое нужно в сформированных тестовых заданиях и нужное количество вариантов, и нажать на кнопку «Сформировать».
        Как только система сформирует тестовое задание, появится диалоговое окно, в котором надо будет выбрать место на компьютере, где сохранить файлы с формированными тестами.
        Стовое задание сохранится на специальном листе, с которым сможет работать мобильное приложение, которое за считанные секунды определит количество правильных ответов.
    </font>
</p>
<h4>
    <strong>
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
        Результаты
    </strong>
</h4>
<p>
    <font>
        При выборе из навигационного меню «Результаты» открывается страница, на которой ннеобходимо выбрать группу и тестовое задание, которое эта группа писала, и нажать на кнопку «Показать».
        Вам будет показана таблица результатов написания выбранного тестового задания выбранной группой тестируемых.
        Если нужно сохранить результаты на компьютер, то необходимо нажать на кнопку «Сохранить».
        Откроется диалоговое окно сохранения, в котором следует выбрать место для сохранения файла с результатом.
    </font>
</p>
<h4>
    <strong>
        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
        Статистика
    </strong>
</h4>
<p>
    <font>
        При выборе «Статистика» из навигационного меню открывается страница, на которой нужно выбрать группу тестируемых, тестовое задание, которое эта группа писала и нажать на кнопку «Сформировать».
        Система сформирует график успешности прохождения тестового задания группой тестируемых.
        При необходимости сохранения статистики следует нажать на кнопку «Сохранить» и в открывшемся окне выбрать папку, в которую будет сохранен файл со статистикой.
    </font>
</p>
<h4>
    <strong>
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        Выход из учетной записи
    </strong>
</h4>
<p>
    <font>
        Для выхода из своей учетной записи необходимо в правом верхнем углу нажать на "Выход".
    </font>
</p>
<h4>
    <strong>
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        Удаление профиля
    </strong>
</h4>
<p>
    <font>
        Для того, чтобы удалить профиль, необходимо нажать на "Профиль" в шапке сайта, на открывшейся странице нажать на удаление профиля и подтвердить действие, нажав на "Ок", или отменить действие, нажав на "Отмена".
    </font>
</p>
<style>
    p {
        text-indent: 60px; /* Отступ первой строки в пикселах */
        font-family: Arial;
        font-size: medium;
    }

    h4 {
        text-indent: 40px;
    }
</style>

