
@model EasyQuizy.Models.Category

@using (Html.BeginForm())
{
    <fieldset>
        <p>
            Название категории <br />
            @Html.EditorFor(model => model.Name)
            @Html.HiddenFor(model => model.SubjectId)
        </p>
        <p>
            <input type="submit" value="Добавить" />
        </p>

    </fieldset>
}


