@model  IEnumerable<EasyQuizy.Models.Subject>

@{
    ViewBag.Title = "Предметы";
}

<h2>Предметы и категории</h2>

<table>
    <tr>
        <th>
            Название предмета
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @Html.ActionLink("X", "DeleteSubject", new { id = item.Id },
                          new { onclick = "return confirm('Действительно удалить предмет?');", @class = "btn btn-danger btn-xs" })

                @Html.ActionLink("К списку категорий", "ShowCategories", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
            </td>
        </tr>
    }
</table>
<br />
<div id="addSubject">
    @Ajax.ActionLink("Добавить предмет", "CreateSubject", null,
            new AjaxOptions() { UpdateTargetId = "addSubject" }, new { @class = "btn btn-success btn-md" })
</div>




