@model EasyQuizy.Models.Group

@using (Html.BeginForm())
{
    <fieldset>
        <p>
            Название группы <br />
            @Html.EditorFor(model => model.Name)
        </p>
        <p>
            <input type="submit" value="Добавить" class="btn btn-success btn-md" />
        </p>

    </fieldset>
}


