@model IEnumerable<EasyQuizy.Models.Subject>
@{
    ViewBag.Title = "Главная";
}
<div class="location">
    <div style="left:9%; width: 80%; position: absolute; top: 10%;">
        <h3 style="line-height:1.1em; text-align:center">
            <span style="letter-spacing:0.5em;">какой-то теjhfygkujkh.jhgmjkjmjghkjhкст,который нужно придумать. тип добро пожаловать</span>
        </h3>
    </div>
     <br />
    <div style="position: absolute; top: 48%;">
        <table>
            <tr class="line">
                <td><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></td>
                <td><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></td>
                <td><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></td>
            </tr>
            <tr class="first_str">
                <td>1 ШАГ</td>
                <td>2 ШАГ</td>
                <td>3 ШАГ</td>
            </tr>
            <tr class="second_str">
                <td valign="bottom">Создавайте предметы и категории для удобства составления тестовых заданий и проверки знаний тестируемых</td>
                <td valign="bottom">Добавляйте группы для того, чтобы сортировать вводимые данные о тестируемых для дальнейшей работы</td>
                <td valign="bottom">Добавляйте вопросы и ответы к тестовым заданиям вручную, либо загружайте готовые тестовые задания</td>
            </tr>
            @*<tr style="height:10px;"></tr>*@
            <tr class="line">
                <td><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></td>
                <td><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></td>
                <td><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></td>
            </tr>
            <tr class="first_str">
                <td>4 ШАГ</td>
                <td>5 ШАГ</td>
                <td>6 ШАГ</td>
            </tr>
            <tr class="second_str">
                <td valign="bottom">Формируйте тестовые задания, задавая нужное количество вопросов в варианте и количество вариантов</td>
                <td valign="bottom">С помощью мобильного приложения сканируйте бланки ответов и получайте быстрый результат</td>
                <td valign="bottom">Формируйте статистику, которая покажет уровень успешности прохождения тестовых заданий, в 3 клика</td>
            </tr>
        </table>
    </div>
</div>

<style>
    .line{
        color: #A39CAB;
        height:1%;
    }
    .first_str{
        font-size:medium; 
        height:2%;
    }
        .second_str{
        font-size:medium; 
        height:20%;
    }
    th{
        text-align:center;
    }
    table{
        margin:auto;
        text-align:center;
        height:90%;
        width:90%;
        table-layout:fixed;
    }
</style>
@*<style>
    .button {
        font-family: Arial;
        font-size: x-large;
        text-align: center;
        margin-left: 75px;
        width: 250px;
        height: 120px;
        background: -moz-linear-gradient(#D3D3D3, #EBFFFF);
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#D3D3D3), to(#EBFFFF));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D3D3D3', endColorstr='#EBFFFF');
        padding: 10px 70px;
        color: #333;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #666;
    }
</style>*@
